<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/custom_page.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/charcol.png' %}">
    <meta charset="UTF-8">
    <title>커스텀 뭐입을과</title>
</head>
<body>
    <div id="container" data-total-customs="{{ total_customs }}">
        <div id="top_menu">
            <div class="button_container">    <!--버튼 컨테이너 -->
                <div class='left_box'>
                    <div id="logo_box">
                        <a href='/custom/'><img src = "{% static 'assets/icons/varsity_logo.png' %}" id='logo'/></a>
                    </div>
                </div>
                <div id="normal_custom">      <!--일반/커스텀 선택 슬라이더-->
                    <a href='/main'><button id="normal_btn">일반</button></a>
                    <button id="custom_btn">커스텀</button>
                </div>
                <div class="tool_bar">          <!--툴바 (필터, 초기화) -->
                    <a href='/custom/'><i class="fa-solid fa-rotate-right" id="reset_btn"></i></a>
                    <button id="filter_btn">       
                        <img src="{% static 'assets/icons/icon_filter_bk.png' %}" id="icon_filter_bk">
                        <img src="{% static 'assets/icons/icon_filter_blue.png' %}" id="icon_filter_blue">
                        <div id='filter_count'>{{ filter_apply_dep }}</div>
                    </button>
                </div>
            </div>
            <!-- /////  검생창 시작 ////// -->
            <div id="search_container" style="display: none;">
                <form id="search_form" method="get" action="/custom/">
                    <input type="text" name="search" placeholder="색상, 학과로 검색해보세요!" id="search_input">
                    <button type="submit" id='submit'><img src="{% static 'assets/icons/icon_search2.png' %}" id='search_icon'/></button>
                </form>
                <div id="suggestions" style="display: none;">
                    <ul id="suggestions_list"></ul>
                </div>
            </div>
        </div>
        <div id="sort_btn_box">
            <a href="?sort=likes"><button id="sort_likes_btn" class='sort_btn'>인기순</button></a>
            <a href="?sort=newest"><button id="sort_newest_btn" class='sort_btn'>최신순</button></a>
        </div>

        <!-- 검색결과 수 -->
        <div id="filtered-count" data-count="{{ filtered_count }}">검색결과 {{ filtered_count }} 개</div>


        <div id="main_container">
            <div class="slider__wrap">
                <div class="slider__btn">
                    <a href="#" class="prev" title="이전">&lt;</a>
                </div>
                <div class="slider__img">
                    <div id="sliderInner" class="slider__inner">
                    {% if not we_dont_have %}
                        {% for custom in customs %}
                            {% if not filter_apply_dep or custom.major in filter_apply_dep %}
                            <div class="slider">
                                <img src="{{ custom.image.url }}" class="test_img"/>
                                <p align="center"><b>{{ custom.title }}</b></p>
                                <button id="heart_btn" data-custom-id="{{ custom.id }}">
                                <img src="{% if custom.id in liked_customs %}{% static 'assets/icons/heart_filled.png' %}{% else %}{% static 'assets/icons/heart.png' %}{% endif %}" id="icon_heart" />
                                <p>{{ custom.like_count }}</p>
                                </button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="slider">
                        <img src="{% static 'assets/icons/icon_no_img.png' %}" id="icon_no_img">
                        <p id="sorry">이미지가 존재하지 않습니다</p>
                        <p id="soon">조만간 채울게요..:D</p>
                    </div>
                    {% endif %}
                    </div>
                </div>
                <div class="slider__btn" id="right_slider__btn">
                    <a href="#" class="next" title="다음">&gt;</a>
                </div>   <!--우 Slider_btn 닫음-->
            </div>      <!--slider__wrap 닫음-->
            <a href='/design'>
            <div id='design_btn_container'>
                <button id="design_btn">디자인 하기</button>
            </div>
            </a>
        </div>
    </div>
    <script src="{% static 'js/main/custompage.js' %}"></script>
    <script src="https://kit.fontawesome.com/e18eac0141.js" crossorigin="anonymous"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const sortParam = urlParams.get('sort');
    
        const sortLikesBtn = document.getElementById('sort_likes_btn');
        const sortNewestBtn = document.getElementById('sort_newest_btn');
    
        if (sortParam === 'newest') {
            sortNewestBtn.classList.add('active');
            sortLikesBtn.classList.add('inactive');
        } else {
            sortLikesBtn.classList.add('active');
            sortNewestBtn.classList.add('inactive');
        }
    });

    //document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.getElementById('search_input');
        const suggestionsContainer = document.getElementById('suggestions');
        const suggestionsList = document.getElementById('suggestions_list');

        searchInput.addEventListener('input', function() {
            const query = this.value.toLowerCase();
            if (query.length > 0) {
                fetch(`/custom/suggestions/?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Suggestions:', data);
                        suggestionsList.innerHTML = '';

                        const uniqueSuggestions = new Set();

                        data.forEach(item => {
                            let suggestionText = '';
                            if (item.color) {
                                suggestionText = item.color;
                            }else if (item.major) {
                                suggestionText = item.major;
                            } 
                            else if (item.keyword) {
                                suggestionText = item.keyword;
                            }

                            if (!uniqueSuggestions.has(suggestionText)) {
                                uniqueSuggestions.add(suggestionText);
                                const li = document.createElement('li');
                                li.textContent = suggestionText;
                                li.addEventListener('click', function() {
                                    searchInput.value = suggestionText;
                                    suggestionsContainer.style.display = 'none';
                                    document.getElementById('search_form').submit();
                                });
                                suggestionsList.appendChild(li);
                            }
                        });

                        if (uniqueSuggestions.size > 0) {
                            suggestionsContainer.style.display = 'block';
                        } else {
                            suggestionsContainer.style.display = 'none';
                        }
                    });
            } else {
                suggestionsContainer.style.display = 'none';
            }
        });

        // 검색 창 토글
        document.getElementById('icon_filter_bk').addEventListener('click', () => {
            const searchContainer = document.getElementById('search_container');
            if (searchContainer.style.display === 'none') {
                searchContainer.style.display = 'block';
            } else {
                searchContainer.style.display = 'none';
            }
        });
    //});
</script>
</html>
