<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/main_page.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/charcol.png' %}">
    <meta charset="UTF-8">
    <title>뭐입을과</title>
</head>
<body>
    <div id="container">
    <div id="top_menu">
        <div class="button_container">    <!--버튼 컨테이너 -->
            <div class='left_box'>
                <div id="logo_box">
                    <a href='/main/'><img src = "{% static 'assets/icons/varsity_logo.png' %}" id='logo'/></a>
                </div>
            </div>
            <div id="normal_custom">      <!--일반/커스텀 선택 슬라이더-->
                <button id="normal_btn">일반</button>
                <a href='/custom'><button id="custom_btn">커스텀</button></a>
            </div>
            <div class="tool_bar">          <!--툴바 (필터, 초기화) -->
                <a href='/main/'><i class="fa-solid fa-rotate-right" id="reset_btn"></i></a>
                <button id="filter_btn">
                    <img src="{% static 'assets/icons/icon_filter_bk.png' %}" id="icon_filter_bk">
                    <img src="{% static 'assets/icons/icon_filter_blue.png' %}" id="icon_filter_blue">
                    <div id='filter_count'>{{ filter_apply_dep }}</div>
                </button>
            </div>
        </div>
        <!-- /////  검생창 시작 ////// -->
        <div id="search_container" style="display: none;">
            <form id="search_form" method="get" action="/main/">
                <input type="text" name="search" placeholder="색상, 학과로 검색해보세요!" id="search_input">
                <button type="submit" id='submit'><img src="{% static 'assets/icons/icon_search2.png' %}" id='search_icon'/></button>
            </form>
            <div id="suggestions" style="display: none;">
                <ul id="suggestions_list"></ul>
            </div>
        </div>
    </div>

        <div id="sort_btn_box">
            <button id="show_back_button">후면 정렬</button> <!-- 추가된 버튼 -->
        </div>

        <div id="main_container">   <!--메인컨테이너-->
            <div class="slider__wrap">
                <div class="slider__btn" id="left_slider__btn">
                    <a href="#" class="prev" title="이전">&lt;</a>
                </div>
                <div class="slider__img">
                    <p id="toggle_instruction" align="center">※이미지를 누르면 앞/뒤가 전환됩니다</p>
                    <div class="slider__inner">
                        {% if not we_dont_have %}  <!-- 수정된 부분 -->
                            {% for varsity in varsitys %}
                                {% if not filter_apply_dep or varsity.major in filter_apply_dep %}
                                    <div class="slider">
                                        <img src="{{ varsity.image_front.url }}" class="test_img" 
                                            data-front="{{ varsity.image_front.url }}" data-back="{{ varsity.image_back.url }}" onclick="toggleImage(this)"/>
                                        <p align="center"><b>{{ varsity.major }}/{{ varsity.college }}</b></p>
                                        <button id="heart_btn" data-varsity-id="{{ varsity.id }}">
                                            <img src="{% if varsity.id in liked_varsitys %}{% static 'assets/icons/heart_filled.png' %}{% else %}{% static 'assets/icons/heart.png' %}{% endif %}" id="icon_heart" />
                                            <p>{{ varsity.like_count }}</p>
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="slider">
                                <p align="center"><b>이미지가 없습니다.</b></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="slider__btn" id="right_slider__btn">
                    <a href="#" class="next" title="다음">&gt;</a>
                </div>      <!--우 Slider_btn 닫음-->
            </div>          <!--slider__wrap 닫음-->
        </div>                  <!--메인컨테이너 닫음-->
    </div>
    <script src="{% static 'js/main/mainpage.js' %}"></script>
    <script src="https://kit.fontawesome.com/e18eac0141.js" crossorigin="anonymous"></script>
</body>
</html>
