{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뭐입을과</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/startpage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/charcol.png' %}">
</head>
<body>
    <div id="main_container">
        <div id="top_bar">
            <a href="/main"><button id="skip">건너뛰기</button></a>
        </div>
        <div id="slider_wrap">
            <div class="logo_page">
                <img src="{% static 'assets/start1.png' %}">
            </div>
            <div class="slider__inner">
                <img src="{% static 'assets/start2.png' %}">
            </div>
            <div class="slider__inner">
                <img src="{% static 'assets/start3.png' %}">
            </div>
            <div class="slider__inner">
                <img src="{% static 'assets/start4.png' %}">
            </div>
            <div class="slider__inner">
                <img src="{% static 'assets/start5.png' %}">
            </div>
        </div>
        <div id="slider_dot_container">
            <div class="slider_dot slider_dot_select"></div>
            <div class="slider_dot"></div>
            <div class="slider_dot"></div>
            <div class="slider_dot"></div>
        </div>
        <div class="slider__btn_container">
            <button class="slider__btn" id="continue_btn">계속</button>
            <a href="/main"><button class="slider__btn" id="start_btn" style="display: none;">시작하기</button></a>
        </div>
    </div>
    <script src="{% static 'js/main/startpage.js' %}"></script>
</body>
</html>
