body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    height: 100vh;
}

#main_container {
    background-color: white;
    width: 540px;
    height: 960px;
    position: relative;
    
}
button{
    cursor: pointer;
}

p {
    font-family: "Pretendard Variable";
    font-weight: bold;
}

#top_bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:540px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nothing {
    /* border: 1px solid violet; */
    width: 148px;
    height: auto;
}
#home{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}
#title {
    display: flex;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
}

#normal_btn{
    background-color: #FFFFFF;
    border:0;
    margin-right: 20px;

}
#top-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(134, 134, 134, 0.3);
    border-bottom: 1px solid rgba(134, 134, 134, 0.3);
}

#sample{
    z-index: -10;
    position: absolute;
    top:14.5%;
    width:540px;
    height: 577px;
    background-color: rgba(0, 0, 0, 0.6);
}
#selected_image{
    width:500px;
    height: auto;
}

#text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
}

#bottom-container2{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 10px;
}

#add-text-button, #upload-img-button, #capture-button ,#refresh-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border:0;
}
#add-text-button:hover, #upload-img-button:hover, #capture-button:hover, #refresh-button:hover{
    background-color: rgba(178, 119, 255, 1);
}


.draggable {
    position: absolute;
    background-color: rgba( 255, 255, 255, 0 );
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
    font-family: 'Playball', cursive; /* 추가된 부분 */
}

.rotate-button {
    width: 20px;
    height: 20px;
}

.rotatable {
    cursor: pointer;
}


#text-input{
    border:none;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 16px;
    width: 300px;
    height: 50px;
}
#upload-text{
    font-family: "Pretendard Variable";
    border: none;
    font-size:16px;
    width: 70px;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(227, 227, 227, 1);
}
#color-select{
    border-radius: 12px;
    background-color: rgba(227, 227, 227, 1);
    margin-right: 7px;
}
#upload-text:hover{
    background-color: rgba(178, 119, 255, 1);
    color:#FFFFFF;
}

/* 추가: 새로운 문구에 대한 스타일 */
#toggle_instruction {
    font-family: 'NanumGothic';
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}

#color-select {
    margin-left: 10px;
    font-size: 16px;
    padding: 5px;
}