@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    height: 100vh;
}

.head_bar {
    /* border: 1px solid blue; */
    display: flex;
    width: 500px;
    height: 46px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 0 0px 40px;
    background-color: #CACDD0;
}

.seq:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0.25) -5px -40px 50px -12px;   
}

.seq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 46px;
    color : #6A6A6A;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0.25) -10px -40px 50px -12px;   
}

form{
    background-color: white;
    width: 540px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:540px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nothing {
    /* border: 1px solid violet; */
    width: 148px;
    height: auto;
}
#title{
    border:0;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Pretendard Variable";
    font-weight: 800px;
    outline: none;
    display: flex;
    text-align: center;
    border-bottom: 5px dashed rgba(151, 71, 255, 1);
    transition: background-color 0.4s ease;

}
#title:hover{
    background-color: #f4e7ff;
}

#imagePreview{
    border:1px dashed #000;
    padding:150px;
    margin-top: 15px;
}



.btn-upload {
    width:168px;
    height: 52px;
    font-family: 'SCoreDream';
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    background-color: rgba(151, 71, 255, 1);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    
#imageInput {
    display: none;
}

#main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#xx{
    margin-top: 10px;
}
label{
    font-size: 22px;
    color: rgba(120, 120, 120, 1);
    display: flex;
    margin-top: 10px;
}

label + select {
    padding-left: 20px;
    font-family: "SCoreDream";
    font-size: 16px;
}

#foot_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
    width: 375px;
    height: 52px;
    border-radius: 12px;
    background-color: rgba(227, 227, 227, 1);
    color:#fff;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-weight: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border:0;
}



select{
    border-radius: 15px;
    width: 319px;
    height: 48px;
}
button{
    cursor: pointer;
}

