@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    height: 100vh;
}

#body_container{
    background-color: white;
    width: 540px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_bar {
    /* border: 1px solid blue; */
    display: flex;
    width: 500px;
    height: 46px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 0 0px 40px;
    background-color: #CACDD0;
}

.seq:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.seq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 46px;
    color : #6A6A6A;
    font-size: 18px;
}


#top_bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width:540px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#back_btn {
    width: 50px;
}
.title_text {
    margin: 15px 0 15px 0;
    justify-self: center;
}
p { 
    line-height: 1.6;
    margin: 0px;
}
.nothing {
    width: 31.63px;
    height: auto;
}

.body_box {
    background-color: #EEF6FF;
    width: 540px;
    height: 824px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
}

#template_container{
    display: grid;
    width:400px;
    height: 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
}

.template_item > img {
    border: 0px;
    border-radius: 20px;
    background-color: white;
    width: 180px;
    height: 180px;
}

.template_item > span {
    font-size: 13px;
    color: #585858;
    padding: 0 0 4px 8px;
}
#design_text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'NanumGothic';
}


.template_item{
    display: grid;
    width:200px;
    height: 200px;
}


#select_btn_container{
    display: flex;
    justify-content: center;
}

#select_btn{
    margin-top: 25px;
    border:0px;
    border-radius: 12px;
    background-color: rgba(151, 71, 255, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 23px;
    font-family: "Pretendard Variable";
    width: 400px;
    height: 63px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#select_btn:hover{
    background-color: #7E92FF;
}

button{
    cursor: pointer;
}