@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 0;
    height: 100vh;
    align-items: center;
}
#body_container{
    background-color: white;
    width: 540px;
    height: 960px;
    /* display: grid;
    grid-template-rows: 1fr 10fr; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top_bar{
    margin-top: 30px;
    margin-bottom: 30px;
}

#design_text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'NanumGothic';
}
#template_container{
    display: grid;
    width:400px;
    height: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
img{
    width:200px;
    height: 200px;
}
.template_item{
    display: grid;
    width:200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}


#select_btn_container{
    display: flex;
    justify-content: center;
}

#select_btn{
    margin-top: 10px;
    border:0px;
    border-radius: 12px;
    background-color: rgba(151, 71, 255, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: "Pretendard Variable";
    width: 360px;
    height: 63px;
}