{%load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>뭐입을과</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/design/finishpage.css' %}">
        <link rel="icon" type="image/png" href="{% static 'assets/charcol.png' %}">
    </head>
    <body>
        <div id="main_container">
            업로드가 완료되었습니다

            <a href="/custom">커스텀으로 돌아가기</a>
        </div>
    </body>
</html>