@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

label {
    font-family: "Pretendard Variable";
    font-size: 20px;
    margin: 10px;
}
.body {
    background-color: gray;
    display: grid;
    justify-content: center;
    margin: 0px;
}

.container {
    /* border: 2px solid orange; */
    background-color: white;
    width: 540px;
    margin: 0px;
}

.head {
    border-bottom: 2px solid #E2E2E2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 15px; */
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.head > h2 {
    font-size: 24px;
    font-family: "Pretendard Variable";
}

.search_form{
    position: relative;
    display: flex;
    justify-content: center;
}
.search_icon{
    position: relative;
    top: 9px;
    left: 22px;
    width: 15px;
    height: 15px;
}

.search_form > input {
    display: flex;
    justify-content: center;
    border: none;
    padding: 3px 0px 0px 25px;
    border-radius: 10px;
    background: var(--Fills-Tertiary, rgba(118, 118, 128, 0.12));
    width: 480px;
    height: 30px;    
    font-size: 16px;
    margin: 0px 15px 0px 0px;
}

.list {
    /* border: 1px solid black; */
    margin: 25px 25px 25px 25px;
}

.department {    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
}

button{
    background-color: white;
    border: none;
}
button:hover {
    background-color: white; /* 마우스를 올렸을 때 배경색 */
    color: #0085FF; /* 마우스를 올렸을 때 텍스트 색상 */
    /* border: 2px solid #4CAF50; 마우스를 올렸을 때 테두리 색상 */
}
.content {
    display: none;
}
.visible {
    display: block;
}
.departments-container {
    display: none;
    margin-left: 20px;
}
.college-label {
    cursor: pointer;
    font-weight: bold;
}

.college_filter {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #6B6B6B; */
    padding: 10px 0px 5px 0px;
    margin: 10px 5px 0px 10px;
}
.major_filter{
    display: flex;
    margin: 3px;
}

[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 2px solid #8C52FF;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer; /* 커서 추가 */
    position: relative; /* 체크 무늬 위치를 위한 상대 위치 */
}
[type="checkbox"]:checked {
    background-color: #8C52FF;
    border-color: #8C52FF;
}
.major_filter > [type="checkbox"] {
    zoom: 0.8;
}
/* 체크 무늬 추가 */
[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.item {
    margin: 25px;
    font-size: 20px;
    font-weight: bold;
}

span {
    font-size: 15px;
    color: grey;
    margin-left: 3px;
}

label {
    /* display: flex; */
    align-items: center;
    flex-grow: 1;
    margin: 0px 0px 0px 8px;
}


.head > img {
    margin: 0px 15px 0px 15px;
}

.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

button{
    cursor: pointer;
}