@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
    height: 100vh;
    margin:0px;
}

#container {
    /* border: 4px solid black; */
    background-color: white;
    width: 540px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#top_menu {
    width: 540px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button_container {
    /* border: 6px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    padding: 15px 8px 10px 8px;
}

.left_box {
    /* border: 1px solid violet; */
    width: 113px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
}
#logo_box{
    display : flex;
    justify-self: center;
    align-items: center;
    width: 110px;
    height: 47px;
    border-radius: 15%;
    transition: color 0.3s ease, background-color 0.3s ease;
}
#logo_box:hover {
    background-color: #f4e7ff;
}

#logo {
    width : 90px;
    padding-left: 10px
}


#normal_custom {
    /* border: 4px solid salmon; */
    display: flex;
    justify-content: center;
}

#normal_btn {
    /* border: 2px solid red; */
    border: 0px;
    font-family: "Pretendard Variable";
    font-size: 24px;
    position: relative;
    left: 12px;
    background-color: #8C52FF;
    width: 118px;
    height: 40px;
    border-radius: 45px;
    color: #FFFFFF;
    z-index: 1;
    font-weight: bold;
}

#custom_btn {
    font-family: "Pretendard Variable";
    font-size: 24px;
    position: relative;
    right: 12px;
    background-color: #F5F5F5;
    width: 118px;
    height: 40px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border: 0;
    color: #919191;
    padding-left: 10px;
}

.tool_bar {
    display: flex;
    flex-direction: row;
    width: 125px;
    align-items: center;
    justify-content: flex-end;
    /* padding-left:  */
}

a {
    text-decoration: none;
}

#reset_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: black;
    background-color: #FFFFFF;
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 15%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#reset_btn:hover {
    background-color: #f4e7ff;
    color: #151B54;
}

#filter_btn {
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

#filter_count{
    border: 2px solid white;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    right: 20px;
    top: 10px;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background-color: #8C52FF;
    color:#fff;
    font-size: 16px;
}

#filter_btn > img {
    zoom: 0.09;
    background-color: none;
    border-radius: 20%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#filter_btn > img:hover {
    background-color: #f4e7ff;
    color: #151B54;
}

#icon_filter_bk {
    position: relative;
    left: 40px;
}

#icon_filter_blue {
    position: relative;
    left: 40px;
}

/*///////////여기부터 검색창/////////////*/
#search_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border: none;
    padding-top: 5px;
    /* padding-right: 20px; */
}

ul{
    margin: 0;
    padding: 0;
}

#search_input::placeholder {
    font-size: 16px;
    color: #838383;
}

#search_container {
    position: relative;
    margin-top : 8px;
}

#search_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_input{
    width: 490px;
    height: 38px;
    font-size: 16px;
    font-family: "Pretendard Variable";
    border-radius: 18px;
    border:0px;
    background-color: rgba(118, 118, 128, 0.12);
    padding-left: 10px;
    outline: none;
}

#submit{
    position: absolute;
    right:25px;
    top: 8px;
    border:0;
    zoom: 1.2;
}

#search_icon{
    width: 16px;
    height: 16px;
}

#suggestions{
    position: absolute;
    top:45px;
    left: 19px;
    width: 502px;
    font-family: "Pretendard Variable";
    border-radius: 0px 0px 20px 20px;
    background-color: #E6F8FF;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#suggestions_list {
    margin: 5PX;
}
li{
    list-style-type: none;
    line-height: 220%;
    padding-left: 10px;
}
li:hover{
    background-color: #97E2FF;
}


/* 뒷판부터 보기 버튼 */
#sort_btn_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 50px 0px 0px;
    width: 540px;
}

#show_back_button {
    font-family: "Pretendard Variable";
    font-size: 18px;
    background-color: hsl(0, 0%, 96%);
    width: 110px;
    border: none;
    color: #919191;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#show_back_button.active {
    background-color: #eeeeef;
    color: #8C52FF;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
}
 
#filtered-count {  /*검색 결과 n개*/
    display: none;
}

/*//////////////여기부터 사진//////////////*/

#main_container {
    /* border: 4px solid brown; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

#main_box {
    /* border: 4px solid yellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider__wrap {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* position: relative;  */
    /*추가: 슬라이더 버튼 위치를 절대 위치로 지정 */
}

.slider__btn {
    /* border: 8px solid navy; */
    position: relative;
    bottom: 40px;
}

#left_slider__btn {
    left: 10px;
    /* border: 10px solid gold; */
}
#right_slider__btn {
    right: 10px;
    /* border: 10px solid gold; */
}

.slider__img {
    /* border: 4px solid yellowgreen; */
    position: relative;
    width: 540px;
    height: auto;
    overflow: hidden;
}

/* 이미지 전환 안내 문구에 대한 스타일 */
    #toggle_instruction {
    font-family: 'NanumGothic';
    font-size: 18px;
    color: grey;
    opacity: 50%;
    margin: 0px;
}

.slider__inner {
    /* border: 5px solid goldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: auto; 
    height: auto;
    padding-left: 10px;
    transition: transform 0.5s ease;
}

.slider {
    /* border: 10px solid skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
#major_name {
    margin: 15px 0px 20px 0px;
}
.slider > #icon_no_img {
    margin: 80px 40px 80px 40px;
}
.slider > #sorry {
    text-align: center;
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 700;
}
.slider > #soon {
    color: #6B6B6B;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 400;
}

#text_major{
    font-weight: bold;
}
.test_img{
    display: flex;
    width: 430px;
    height: 430px;
    margin: 0px 45px 0px 45px;
    object-fit: contain;
}

.slider__btn > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    z-index: 10;
    border-radius: 50%;
    font-weight: bold;
}

.slider__btn > a:hover {
    border-radius: 50%;
    background-color: #919191;
    color: #fff;
}

.slider__btn a.prev {
    left: 5px; 
}

.slider__btn a.next {
    right: 5px; 
}

p{
    font-family: 'NanumGothic';
    font-size: 24px;
    line-height: 1.5;
    margin: 10px;
}

#heart_btn {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background-color: #FFFFFF;
    width:136px;
    height: 46px;
    margin: 15px;
    /* box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2); */
}

/* 추가: 새로운 문구에 대한 스타일 */
#toggle_instruction {
    font-family: 'NanumGothic';
    font-size: 18px;
    color: gray;
    margin-top: 15px;
    font-weight: bold;
}

button{
    cursor: pointer;
}


li{
    list-style-type: none;
}