@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    background-color: gray;
    height: 100vh;
}

#main_container {
    background-color: white;
    width: 540px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

#top_bar {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    width: 100%;
}


#skip {
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: rgba(116, 116, 118, 1);
    background-color: #FFFFFF;
    border: 0;
    margin: 10px 15px 0 0;
    transition: transform 0.5s ease-in-out;
}
#skip:hover{
    /* text-decoration: underline; */
    background-color: #f4e7ff;
}

img {
    width: 520px;
    height: auto;
}

#slider_wrap {
    display: flex;
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease-in-out;
}

.slider__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    transition: transform 0.3s ease-in-out;
}

#slider_dot_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 20px; */
}

.slider_dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: lightgray;
    border-radius: 50%;
}

.slider_dot_select {
    background-color: black;
}

.slider__btn_container {
    margin-top: 20px;
}

.slider__btn {
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(151, 71, 255, 1);
    border-radius: 12px;
    border:0;
    width:367px;
    height: 67px;
    padding: 10px 20px;
    cursor: pointer;
}

#start_btn {
    display: none;
    font-family: "Pretendard Variable";
    font-size: 24x;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(151, 71, 255, 1);
    border-radius: 12px;
    border:0;
    width:367px;
    height: 67px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 90px;
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.slider__inner, .slider__btn_container {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

a{
    text-decoration: none;
}





button{
    cursor: pointer;
}